/* RESETS */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* layout */
.container {
	max-width: $container_maxwidth;
	margin: 0 auto;
}

.is-divider {
	border-bottom: 1px solid $brand_color;
}
/* margins */
.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

/*txt alignment*/
.txt-center {
	text-align: center;
}

/* BUTTONS */
.btn {
	padding: $btn_padding;
	border: 1px solid;
	border-radius: $btn_radius;
	img {
		width: calc(#{$font_size}* 1.5);
		vertical-align: middle;
		margin-right: 5px;
	}
}

/* COLORS */
.primary {
	background-color: $primary;
}

.secondary {
	background-color: $secondary;
}
