/* RESETS */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
}
/* layout */
.container {
	max-width: $container_maxwidth;
	padding: 0 1rem;
	margin: 0 auto;
	&__small {
		max-width: calc(#{$container_maxwidth} * 0.55);
	}
}

.is-divider {
	border-bottom: 1px solid $brand_color;
}
/* margins */
.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

/* TYPOGRAPHY */

h1 {
	font-size: calc(#{$font_size}* 3);
}
/*txt alignment*/
.txt-center {
	text-align: center;
}

/* BUTTONS */
.btn {
	padding: $btn_padding;
	border: 1px solid;
	border-radius: $btn_radius;
	font-weight: bold;
	cursor: pointer;
	img {
		width: calc(#{$font_size}* 1.5);
		vertical-align: middle;
		margin-right: 5px;
		padding-bottom: 2px;
	}

	&.secondary {
		background-color: $secondary;
		color: #fff;
		border-color: $secondary;
	}
}

/* COLORS */
.primary {
	background-color: $primary;
}

.secondary {
	background-color: $secondary;
}
