header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	/* NAV */
	.menu {
		display: flex;
		align-items: baseline;
		li {
			margin: $li-margin;
			font-weight: bold;
		}
		.btn {
			color: $secondary;
		}
	}
}
