main {
	> div,
	> section {
		padding: $content-block-padding;
	}
}

// JUMBOTRON
.jumbotron {
	display: flex;
	padding: $content-block-padding;
	.teaser {
		flex-basis: 50%;
		.sub-title {
			font-size: 1.35rem;
			margin: 1rem 0 3rem;
		}
		.sign-up {
			font-size: calc(#{$font_size * 0.85});
			p {
				padding-top: 1rem;
			}
		}
	}
	.illustration {
		flex-basis: 50%;
	}
}

// SECTIONS
// before-after
.before-after {
	.after-teambit {
		padding: $content-block-padding;
	}
	.gallery {
		padding: $content-block-padding;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
		> div {
			margin-bottom: 2rem;
			flex-basis: 28%;
			img {
				height: 100px;
				width: auto;
			}
			.caption {
				font-size: 0.85rem;
				padding-top: 2rem;
			}
			&.full-width {
				flex-basis: 100%;
				margin-bottom: 0;
				img {
					height: 350px;
					width: auto;
				}
			}
		}
	}
}

//features
.features .feature {
	max-width: $container_maxwidth;
	padding: 0 1rem;
	margin-bottom: 2rem;
	display: flex;
	&__right {
		margin-left: auto;
	}
	.preview {
		flex-basis: 70%;
	}
	.desc {
		flex-basis: 30%;
		margin-top: 1rem;
		h2 {
			margin-bottom: 3rem;
		}
		p {
			margin-bottom: 2rem;
		}
		a {
			display: inline-block;
			color: $secondary;
			margin-bottom: 2rem;
		}
		p,
		a {
			font-size: 1.25rem;
		}
	}
}

// vision
.vision {
	background-color: $primary;
	h2 {
		font-size: 3rem;
		line-height: 4rem;
		img {
			width: 2rem;
		}
	}
	.message {
		margin: $content-block-padding;
		font-size: 0.95rem;
		background-color: #fff;
		border: 1px solid $secondary;
		border-radius: 10px;
		padding: 1rem;
		p {
			margin-bottom: 1rem;
		}
		.founders {
			display: flex;
			align-items: center;
			img {
				width: 50px;
				margin-right: 1rem;
			}
			.info {
				display: inline-block;
			}
			.name {
				color: $secondary;
			}
			.role {
				font-size: 0.85rem;
			}
		}
	}
	.sign-up {
		font-size: 0.95rem;

		p {
			margin-top: 1rem;
		}
	}
}
