main {
	> div,
	> section {
		padding: $content-block-padding 0px;
	}

	.jumbotron {
		display: flex;
		.teaser,
		.illustration {
			flex-basis: 50%;
			.sub-title {
				font-size: 1.35rem;
				margin: 1rem 0 3rem;
			}
			.sign-up {
				font-size: calc(#{$font_size * 0.85});
				p {
					padding-top: 1rem;
				}
			}
		}
	}

	.before-after {
		.before-teambit {
			padding-bottom: $content-block-padding;
		}
		.after-teambit {
			padding: $content-block-padding;
		}
		.gallery {
			padding: $content-block-padding;

			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-items: center;
			div {
				img {
					height: 100px;
					width: auto;
				}
				.caption {
					font-size: 0.85rem;
					padding-top: 2rem;
				}
				&.full-width {
					flex-basis: 100%;
					img {
						margin-top: 4rem;
						height: 350px;
						width: auto;
					}
				}
			}
		}
	}
}
