// COLORS
$brand_color: #4d3a1d;
$primary: #ffe7d2;
$secondary: #2e4790;

// TYPHOGRAPHY
$font_size: 16px;
$brand_font: "Source Sans Pro", sans-serif;

// LAYOUT
$container_maxwidth: 1440px;

//BUTTONS
$btn_padding: 5px 10px;
$btn_radius: 5px;
