// COLORS
$brand_color: #58402c;
$primary: #ffe7d2;
$secondary: #2e4790;

// TYPHOGRAPHY
$font_size: 16px;
$brand_font: "Source Sans Pro", sans-serif;

// LAYOUT
$container_maxwidth: 1440px;
$content_block_padding: 2em;

//BUTTONS
$btn_padding: 5px 10px;
$btn_radius: 5px;

//PADDING & MARGINS
$content-block-padding: 2rem;
$li-margin: 0.5rem;
