// COLORS
$brand_color: #58402c;
$primary: #ffe7d2;
$secondary: #2e4790;

// TYPHOGRAPHY
$font_size: 16px;
$brand_font: "Source Sans Pro", sans-serif;

// LAYOUT
$container_maxwidth: 1440px;

//BUTTONS
$btn_padding: 6px 10px;
$btn_radius: 5px;

//PADDING & MARGINS
$li-margin: 0.5rem;
$content_block_padding: 4rem 0rem;
