@import "partials/variables";
@import "partials/common";
@import "partials/header";
@import "partials/main";
@import "partials/footer";

body {
	font-family: $brand_font;
	font-size: $font_size;
	color: $brand_color;
}
